*.pyc
output/connectivity_matrix/starlink/*
output/Figures/*
output/node_indices/starlink/*
output/optimal_routes/starlink/*
output/routing/starlink/*
output/satellites_orbits/orbits_satellites.txt
output/satellites_orbits/starlink/*
output/terrestrial_info/*
output/suryansh_files/*
output/cpu_time/starlink/*
output/optimal_weights/starlink/*
routing/__pycache__/*
mobility/__pycache__/*
library/__pycache__/*
config_files/sat_config_files/starlink*
output/fake/*
output/real/*
utils/starlink_tles/*
.vscode/

output/satellites_orbits/orbits_satellites.txt
